//buttons
.btn {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: solid 1px;
  background: transparent;
  outline: none;
  &:hover {
    color: $white;
    cursor: pointer;
  }
}

.play {
  color: $c-play;
  border: solid 1px $c-play;
  &:hover {
    background: $c-play;

  }
}

.stop {
  color: $c-stop;
  border: solid 1px $c-stop;
  &:hover {
    background: $c-stop;
  }
}

.repeat {
  color: $c-repeat;
  border: solid 1px $c-repeat;
  &:hover {
    background: $c-repeat;
  }
}
