// == Display of the numbers == //
.numbers-display {
  list-style: none;
  padding: 0;
  max-width: 700px;

  li {
    border-radius: 5px;
    color: $c-body;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    margin: 0 5px 10px;
    width: 60px;
    height: 60px;
    //padding: 7px 13px;
    text-align: center;
  }

  .num {
    border: 3px solid $c-buttons;
    transition-duration: 0.6s;
    transition-property: transform;
    user-select: none;

    &:hover {
      border: 3px solid $pink;
      color: $white;
    }

    &.correct {
      background: #202021;
      border-color: $c-correct;
      transform: rotate(360deg);
    }

    &:active,
    &:focus {
      border: 3px solid $c-body;
      color: $white;
    }
  } // end .num
  @supports (display: grid) {
    & {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-auto-rows: 60px;
      grid-gap: 15px;

      li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        // min-width: 60px;
        padding: 7px 13px;
        text-align: center;
      }
    }

    @media all and (max-width: 770px) {
      & {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 50px;
        grid-gap: 10px;
      }
    }
  }
  //Transitions
  li.sn-appear {
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform: scaleY(0) rotate(-180deg);
  }

  li.sn-appear-active {
    opacity: 1;
    transform: scaleY(1) rotate(0deg);
  }

  li.sn-enter {
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform: scaleY(0) rotate(-180deg);
  }

  li.sn-enter-active {
    opacity: 1;
    transform: scaleY(1) rotate(0deg);
  }

  li.sn-leave {
    transition-property: opacity, transform;
    transition-duration: 0.6s;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transform: scaleY(1) rotate(-0deg);
  }
  li.sn-leave-active {
    opacity: 0;
    transform: scaleY(0) rotate(-180deg);
  }
}

@supports (display: grid) {
}

// == END Display of the numbers == //
