//colours
$c-primary: #62ced1;
$c-primary-d: darken($c-primary, 30%);
$c-buttons: darken($c-primary, 26%);
$c-secondary: #1e2424;
$c-secondary-l: lighten($c-secondary, 3%);
$c-body: lightblue;
$pink: hotpink;
$white: #fff;
$c-correct: lightgreen;
$c-incorrect: #ff4352;


$c-play: #28a745;
$c-stop: #dc3545;
$c-repeat: #ffc107;
