@import './setup';
@import './numbers';
@import './buttons';


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}
nav {
  background: $pink;
  color: $c-secondary;
  min-height: 95px;
  //opacity: 0.7;
  display: none;
}

nav .container {
  background: $c-primary;
  margin-top: 0;
  text-align: right;
}

nav a {
  color: #141414;
}
// end nav -- delete above

body {
  background-color: $c-secondary;
  color: $c-body;
  margin: 0;

  &::before {
    background: $c-primary;
    content: '';
    display: block;
    height: 95px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

header {
  position: relative;
  z-index: 10;
}

h1 {
  background-color: $c-primary;
  color: $c-secondary;
  margin: -20px 0 10px;
  padding: 46px 0 5px;
}

h2{
  color: $c-primary;
  margin-top: 10px;
  margin-bottom: 60px;
}

.in {
  color: $c-primary-d;
}

.container {
  background: $c-secondary;
  margin-top: 10px;
  padding: 2px 10px;
}

.LangSelect, .RangeSelect {
  background-color: $c-secondary-l;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 20px;
  padding: 7px 10px;

  label {
    padding-right: 10px;
  }

  select {
    //hides the little arrows
    appearance: none;
    background: $c-secondary-l;
    border: 0;
    box-shadow: 0 0 0 2px $c-primary;
    border-radius: 5px;
    color: $c-body;

    &:focus {
      background: #2e2e2f;
      border: none;
      box-shadow: 0 0 0 2px $pink;
      color: $white;
      outline: 0;
    }
  }
}

.RangeSelect div div:last-child {
  padding-left: 10px;
}

 .LangSelect select option{
   padding-left: 20px;
 }


/* New Transitions */
.slide-enter{
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: .6s;
  transition-property: transform;
}

.slide-enter.slide-enter-active{
    transform: scaleY(1);
}
.slide-leave{
  transform: scaleY(1);
  transform-origin: top;
  transition-property: transform,opacity;
  transition-duration: .6s;
}

.slide-leave.slide-leave-active{
    transform: scaleY(0);
    opacity: 0;
}


//rename .test //Learn - Practice - Challenge
.practice-feedback {
  margin: 20px 0;
}

.btn {
  margin-right: 10px;
}

.challenge {
  background: $c-secondary-l;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;

  @media (min-width: 576px) {
      padding: 10px 20px;
  }
}

//feedback
.challenge-feedback-correct,
.challenge-feedback-incorrect,
.practice-feedback-correct,
.practice-feedback-incorrect {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;

  li {
    border: solid 1px $c-correct;
    border-radius: 4px;
    color: $c-correct;
    display: inline-block;
    margin: 5px 10px 5px 0;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
  }
}// END feedback correct/incorrect


.challenge-feedback-incorrect li, .practice-feedback-incorrect li {
  border: solid 1px $c-incorrect;
  color: $c-incorrect;
}

.timer {
  border: 3px solid $c-primary;
  border-radius: 5px;
  color: $c-body;
  font-size: 4em;
  padding: 20px 0;
  text-align: center;
}

.finished {color:$c-correct}

.table tbody tr:first-child{color: $c-correct}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    padding: 5px 40px;
  }
  .RangeSelect {
    margin-left: 10px;
  }
}

/* // Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    padding: 10px 50px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    padding: 10px 60px;
  }
}
